.cart_container {
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    65deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(35, 42, 73, 1) 82%
  );
  position: relative;
}

.actions {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.actions button {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 7px 15px;
  background-color: #741906;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
